body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 2%;
}

.slider {
    width: 70%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.radiobtn {
    display: none;
}

.slides {
    margin-bottom: 1rem;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    align-items: center;
    justify-items: center;
    /* width: 100%; */
    /* border: 0.2em solid black; */
    background-color: black;
    border-radius: 2%;
}

.slide {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    transition: all 0.7s;
}

.captions {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
}

.caption {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    transition: all 0.7s;
}

.labels {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.label span {
    width: 0.8rem;
    height: 0.8rem;
    flex: 0 0 auto;
    border: 0.12rem solid black;
    border-radius: 50%;
}

.label:hover span {
    border: 0.12rem solid gray;
    background-color: gray;
}

.label:active span {
    border: 0.12rem solid black;
    background-color: gray;
}

#radio-1:checked ~ .slides .slide-1 {
    opacity: 1;
}
#radio-2:checked ~ .slides .slide-2 {
    opacity: 1;
}
#radio-3:checked ~ .slides .slide-3 {
    opacity: 1;
}
#radio-4:checked ~ .slides .slide-4 {
    opacity: 1;
}
#radio-5:checked ~ .slides .slide-5 {
    opacity: 1;
}

#radio-1:checked ~ .captions .caption-1 {
    opacity: 1;
}
#radio-2:checked ~ .captions .caption-2 {
    opacity: 1;
}
#radio-3:checked ~ .captions .caption-3 {
    opacity: 1;
}
#radio-4:checked ~ .captions .caption-4 {
    opacity: 1;
}
#radio-5:checked ~ .captions .caption-5 {
    opacity: 1;
}

#radio-1:checked ~ .labels .label-1 span {
    background-color: black;
}
#radio-2:checked ~ .labels .label-2 span {
    background-color: black;
}
#radio-3:checked ~ .labels .label-3 span {
    background-color: black;
}
#radio-4:checked ~ .labels .label-4 span {
    background-color: black;
}
#radio-5:checked ~ .labels .label-5 span {
    background-color: black;
}

.footnote {
    margin-top: 2%;
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .captions {
        margin-top: 1rem;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        justify-self: center;
        text-align: center;
    }

    .labels {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        justify-self: center;
    }
}